<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mynotepad_7_23"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <!-- android:theme="@android:style/Theme.Black.NoTitleBar" 不带标题了的主题 -->
    <!-- android:icon="@drawable/d_sunny_cloudy" 修改项目的图标 -->
    <!-- android:theme=选择系统的主题：不带标题了有状态栏 -->
    <!-- android:label="@string/app_name"改变应用的名称 -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/d_sunny_cloudy"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="com.example.mynotepad_7_23.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyNotepade_add" >
        </activity>
        <activity android:name=".MyNotepad_look"></activity>
    </application>

</manifest>